header {
    display:flex;
    background:#1a1a1a;
    justify-content: space-between;
    padding:17px 35px;
    font-weight: 500;
    font-family: var(--mainFontFamily);
    position: fixed;
    top:0;
    z-index: 1000;
    width:calc(-60px + 100%);
}

body {
    padding-top: 64px;
}

header .LogoGroup {
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

header .LogoGroup h1 {
    font-size:12px;
}

header menu {
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    gap: 15px; 
    line-height: 30px;
}

header menu li {
    cursor: pointer;
}

header .timer {
    line-height: 30px;
}

/* toggle-a */
.toggle-a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.toggle-a::after {
    width: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    height: 1px;
    background: #ffffff;
}

.toggle-a:hover:after {
    width: 100%;
}

/* edit-a */
.edit-a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.edit-a::after {
    width: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    height: 1px;
    background: #ffffff;
}

.edit-a:hover:after {
    width: 100%;
}