.news-list {
    display:grid;
    width:100%;
    flex-wrap:wrap;

    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    margin-left: 235px;
    margin-right: 235px;
}

.news-list .news-card {
    border:1px solid #555;
    padding:20px;
    border-radius: 25px;
    box-shadow: 0 8px 16px #00000033;
    margin-top: 20px;
    position: relative;
    width:400px;
    height:300px;
}

.news-list .news-card .poster {
    width:100%;
    height:100%;
    display:block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:0;
    opacity:0;
    transition: all .5s ease-out;
    border-radius: 25px;
}

.App.dark .news-list .news-card {
    background-color: #1a1a1a;
}

.news-list .news-card:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #c5c5c5;
    background-size: cover;
    color: #fff;
    transition-property: 1s;
}

.news-list .news-card:hover .poster{
    opacity: .8;
    transition: all .5s ease-in;
}

.news-list .news-card img {
    margin-bottom: 5px;
    max-height: 160px;
    max-width: 160px;
}

.news-list .news-card h3 {
    font-size:16px;
    font-weight:bold;
    display:block;
}   

.news-list .news-card span {
    margin-top:5px;
}

.news-list .rating-info {
    font-weight: 500;
    grid-column: span 3;
    text-align: justify;
    line-height: 30px;
    position: relative;
    z-index: 2;
}
/* 
h3 {
    color:red;
    margin:10px 10px 10px 10px;
    margin:10px 10px;
    margin:10px;
    font-size:12px;
    font-weight: ;
} */