.rating-news-list {
    display:flex;
    width:100%;
    flex-wrap:wrap;
    gap:15px;
}

.rating-news-list .rating-news-card {
    width:calc(33% - 30px);
    border:1px solid #eee;
    padding:10px;
}

.rating-news-list .rating-news-card span {
    font-size:14px;
    margin-top:5px;
}

.news-card {
    display:grid;
    grid-template-columns: repeat(3, 33%);
    text-align: justify;
    line-height: 30px;
    font-weight: 500;
}

.news-card .Author {
    grid-column: span 3;
    text-align: justify;
    line-height: 30px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.news-card .game {
    grid-column: span 3;
}

.news-card .video {
    grid-column: span 3;
    margin-top: 15px;
}