.swiper {
    width: 10000px;
    height: 500px;
    min-width: 0;
    border-radius: 25px;
    margin-top: 20px;
}

.slider-image {
    text-align: center;
}

.name {
    z-index: 1000;
}

.swiper-wrapper {
    width: 1500px;
}

.slider-image img {
    max-width: 100%;
}