.swiper {
    width: 1500px;
    height: 500px;
    min-width: 0;
    border-radius: 25px;
    margin-top: 20px;
}

.swiper-wrapper {
    width: 1500px;
}

.link-game {
    z-index: 1;
}

.slider-image {
    object-fit: cover;
    position: relative;
    bottom: 200px;
    width: 1500px;
}